body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;

}

#titleBestMovie {
    font-weight: Bold;
    font-size: 1.5em;
}

.carousel {
    display: flex;
    align-items: center;
}

.images {
    display: flex;
    width: 728px;
    overflow: hidden;
    border: 4px solid black;

}