.images {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#caroussel {
    width: 728px;
    overflow: auto;
    border: 2px solid black;
}